* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.slider {
    width: 50%;
    margin: 20px auto;
}

.slider__slide {
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 100px;
    font-family: sans-serif;
    background: green;
    
}

.slider__controls {
    display: flex;
    justify-content: center;
}

.slider__controls button {
    padding: 10px;
    margin: 20px;
}