@font-face {
    font-family: "MR";
    src: url(../fonts/Montserrat-Black.ttf);
    font-weight: 900;
}
@font-face {  
    font-family: "MR";
    src: url(../fonts/Montserrat-Bold.ttf);
    font-weight: 700;
}
@font-face {
    font-family: "MR";
    src: url(../fonts/Montserrat-Light.ttf);
    font-weight: 200;
}
@font-face {
    font-family: "MR";
    src: url(../fonts/Montserrat-Regular.ttf);
    font-weight: 400;
}
@font-face {
    font-family: "MR";
    src: url(../fonts/Montserrat-Thin.ttf);
    font-weight: 100;
}